**Hi**
body {
    margin: 0;
    padding: 0;

}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.car-table {
    width: 60%;
}

.car-table th, .car-table td {
    border: 5px;
    border-color: #000;
    text-align: center;
}

.car-table th {
    background-color: #000;
    color: white;
}



